.about-us {
  min-height: 800px;
  padding: 30px 30px 24px 30px;

}

.about-us__title {
  margin-bottom: 30px;
}

.about-us__advantages {

}

@media (min-width: @tablet-width) {
  .about-us {
    min-height: 500px;
  }
}

@media (min-width: @desktop-width) {  
}