
.advantages__li {
  // display: block;
  position: relative;
  min-height: 120px;  
  box-sizing: border-box;
  background-repeat: no-repeat;
  &:nth-of-type(1) {
    background-image: url('../image/icon-1-mobile.png');    
    background-position: left 8px top 3px;
    padding-top: 54px;
  }
  &:nth-of-type(2) {
    background-image: url('../image/icon-3-mobile.png');    
    background-position: left 0 top 0;
    padding-top: 60px;
  }
  &:nth-of-type(3) {
    background-image: url('../image/icon-5-mobile.png');    
    background-position: left 8px top 10px;
    padding-top: 60px;
  }
  &:nth-of-type(4) {
    background-image: url('../image/icon-2-mobile.png');    
    background-position: left 5px top 15px;
    padding-top: 64px;
  }
  &:nth-of-type(5) {
    background-image: url('../image/icon-4-mobile.png');    
    background-position: left -5px top 15px;
    padding-top: 64px;
  }
  &:nth-of-type(6) {
    background-image: url('../image/icon-6-mobile.png');    
    background-position: left 5px top 15px;
    padding-top: 68px;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    flex-direction: column;

  }
  
  .advantages__li {
    padding: 0;
    width: 300px;
  }
}

@media (min-width: @desktop-width) {  
}