.feedback {
  position: relative;
  min-height: 600px;
  margin: 0 30px 0 30px;
  padding-bottom: 30px;
  &::after {
    content: '';
    position: absolute;
    background-image: url('../image/zigzag-line-mobile.png');
    background-repeat: no-repeat;
    width: 260px;
    height: 6px;
    left: 0;
    bottom: 0;
  }
}

.feedback-1 {

}

.feedback__title {
  margin-bottom: 25px;
}

.feedback__p {  
  &:first-of-type {
    margin-bottom: 27px;
  }
  &:last-of-type {
    margin-top: 5px;
    margin-bottom: 118px;    
  }
}

.feedback__b {
}

.feedback__previous {
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 2px solid @middle-grey-1;
  border-right: 1px solid @middle-grey-1;
  bottom: 140px;
  // left: 0;
  background-color: @white;
  background-image: url('../image/huge-arrow-left-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  // margin-left: 30px;
  cursor: pointer;
}

.feedback__next {
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 2px solid @middle-grey-1;
  border-left: 1px solid @middle-grey-1;
  bottom: 140px;
  right: 0;
  background-color: @white;
  background-image: url('../image/huge-arrow-right-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
  // margin-right: 30px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {          /*media tablet*/
  .feedback {
    position: relative;
    min-height: 520px;
    width: @tablet-width;
    background-image: url('../image/review-tablet.png');
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    padding-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../image/zigzag-line-desktop.png');
      background-repeat: no-repeat;
      width: @tablet-width;
      height: 17px;
      left: 0;
      bottom: 0;
    }    
  }

  .feedback__previous, .feedback__next {
    border: none;
    width: 82px;
    height: 50px;
    top: 350px; 
  }

  .feedback__previous {
    right: 132px;       
  }

  .feedback__next {
    right: 50px;     
  }

  .feedback-1 {    
  }

  .feedback__title {
    margin-bottom: 65px;    
  }

  .feedback-p {    
  }

  .feedback-b {
    margin-bottom: 10px;    
  }

  .feedback__btn {
    position: absolute;
    width: 176px;
    min-height: 55px;
    top: 82px;
    right: 50px;    
  }

}

@media (min-width: @desktop-width) {            /*media desktop*/
  .feedback__btn {
    font-size: 17px;
    line-height: 20px;
  }

  .feedback {
    position: relative;
    min-height: 520px;
    width: @desktop-width - (100px * 2);
    background-image: url('../image/review-desktop.png');
    background-repeat: no-repeat;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    padding-top: 80px;    
    box-sizing: border-box;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../image/zigzag-line-desktop.png');
      background-repeat: repeat-x;
      width: @desktop-width - (100px * 2);
      height: 23px;
      left: 0;
      bottom: 0;
    }
  } 

  .feedback-1 {
    margin-left: 175px;
    // padding-top: 80px;
  }

  .feedback__title {
    margin-bottom: 60px;
  }

  .feedback__p {  
    &:first-of-type {
      margin-bottom: 40px;
    }
    &:last-of-type {
      margin-top: 5px;
      margin-bottom: 118px;    
    }
  }

  .feedback__previous {
    top: 340px;
  }

  .feedback__next {
    top: 340px;
  }
  
}