.header {
}

.header__main-menu {
  // padding-left: 30px;
  // padding-right: 30px;
}

.header__title {
  display: block;
  box-sizing: border-box;
  min-height: 285px;
  background-color: @light-grey-2;
  background-image: url('../image/hero-mobile.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 30%;
  background-size: 100%;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  @media (min-width: 400px) {
    background-size: 65%;
    background-position-x: 50%;
    background-position-y: 60%;

  }
}

.header__menu--tab1, .header__menu--tab2,
.header__menu--tab3, .header__menu--tab4 {
  display: none;
}



@media (min-width: @tablet-width) {         /*tablet width*/

  .header__title {
    display: block;
    position: relative;
    box-sizing: border-box;
    min-height: 740px;
    background-color: @light-grey-2;
    background-image: url('../image/hero-desktop.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 0;
    background-size: 100%;
    padding-top: 180px;
    border-top: 2px solid @middle-grey-1;
    padding-left: 0;
    padding-right: 0;
  }
  

  .header__menu--tab1, .header__menu--tab2 {
    display: block;    
  }

  .header__menu--tab1 {
    display: flex;
    justify-content: space-between;
  }

  .header__menu--tab2 {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width + 1px) 
and (max-width: @desktop-width) {
  
  .header__menu--tab1 { 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;    
  }
  .header__menu--tab2 {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; 
  }  
} 

@media (min-width: @desktop-width) {            /*desktop width*/
  .header__menu--tab1, .header__menu--tab2 {
    display: none;
  }

  .header__menu--tab3, .header__menu--tab4 {
    display: block;  
  }

  .header__menu--tab3 {
    display: flex;
    justify-content: space-between;
    // padding: 0;
    padding-left: 100px;
    padding-right: 100px;

  }








  .header__title{
    width: @desktop-width;
    padding-top: 173px;
    background-color: @light-grey-2;
    background-image: url('../image/hero-desktop.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: -15%;
    background-size: 70%;
  }

  .header__menu--tab4 {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 60px;
    display: flex;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
  }  

}
