.main-menu {
  min-height: 79px;
  box-sizing: border-box;
  border-bottom: 2px solid @middle-grey-1;
  background-color: @white;

}


.main-menu--logo {
}

.main-menu__link {
}

.main-menu__img-logo {
}

.main-menu__open {
}

.main-menu__close {

}

.main-menu__link--cart {

}
