.menu {
  display: flex;
  position: relative;
  min-height: 79px;
  box-sizing: border-box;
  border-bottom: 2px solid @middle-grey-1;
  background-color: @white;
}

.menu__link  {
  flex-grow: 1;
  display: flex;
  position: relative;
  padding-left: 76px;
  align-items: center;
  text-decoration: none;
  @media (min-width: 400px) {
    justify-content: center;
    padding-right: 76px;
  }
  &:hover {
    color: @link-hover;
  }
  &:active {
    color: @link-active;
  }
}

.menu__link--logo {
  min-height: 50px;
  width: 100%;
  position: relative;
  padding-left: 0;  
  display: block;
  background-image: url('../image/mishka-logo-mobile.png');    
  background-position: center;
  background-repeat: no-repeat;
  // &:hover {
  //   background-image: url('../image/mishka-logo-hover.png');
  // }
  // &:active {
  //   background-image: url('../image/mishka-logo-active.png');
  // }
}

.menu--logo {  
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.menu__img-logo {
  width: 86px;
  height: 35px;
  // text-align: center;
  // margin-left: auto;
  // margin-right: auto;
}

.menu__open {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url('../image/menu-mobile-open.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
  // z-index: 2;
  cursor: pointer;
}

.menu__close {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url('../image/menu-mobile-close.png');
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  // z-index: 2;
  cursor: pointer;
}

.menu__link--search {
  background-image: url('../image/search-mobile.png');
  background-repeat: no-repeat;
  background-position: center left 30px;
}

.menu__link--cart {
  background-image: url('../image/cart-mobile.png');
  background-repeat: no-repeat;
  background-position: center left 30px;
}

@media (min-width: @tablet-width) {             /*media tablet*/
  .menu--search {
    flex-grow: 1;
  }
  
  .menu--logo {
    min-width: 40%;
  }
  
  .menu__link--logo {
    background-position: center left 23.5%;
    background-image: url('../image/mishka-logo-tablet.png');
  }

  .menu__link--search {  
    border-left: 2px solid @middle-grey-1;
    border-right: 2px solid @middle-grey-1;
    background-image: url('../image/search-tablet.png');
    background-repeat: no-repeat;
    background-position: center;  
  }

  .menu__link--cart {
    // width: 315px;
    background-position: center left 34px;
    text-align: right;
    padding-right: 50px;
  }

  .menu {
    display: flex;
    position: relative;
    min-height: 89px;
    box-sizing: border-box;
    border-bottom: none;
    background-color: transparent;
  }

  .menu--tab2 {
    text-align: left;
    &:nth-of-type(1) {
      min-width: 167px;
      padding-left: 50px;
    }

    &:nth-of-type(2) {
      flex-grow: 2;
    }

    &:nth-of-type(3) {
      min-width: 334px;
      padding-right: 50px;
      text-align: right;
    }
  }

  .menu__link--tab2 {
    display: block;
    text-decoration: none;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

@media (min-width: @tablet-width + 1px) and (max-width: @desktop-width) {
  .menu--logo, .menu--search, .menu--cart {
    flex-grow: 1;
  }

  .menu--tab2 {
    flex-grow: 1;
  }
}

@media (min-width: @desktop-width) {            /*media desktop*/
  
  
  .menu--tab2 {
    &:nth-of-type(1) {
      min-width: 185px;
      padding-left: 0;
      text-align: left;
      border-right: 2px solid @middle-grey-1;
    }

    &:nth-of-type(2) {
      min-width: 193px;
      text-align: left;
      padding-left: 34px;
    }      
  }

  .menu--logo {
    display: flex;
    padding: 0;
    min-width: 0;
    justify-content: center;
    // align-items: center;
    flex-grow: 2;
  }

  .menu__link--logo {
    background-image: url('../image/mishka-logo-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 200px;
    &:hover {
      background-image: url('../image/mishka-logo-desktop-hover.png');
    }
    &:active {
      background-image: url('../image/mishka-logo-desktop-active.png');
    }

  }

  .menu--search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid @middle-grey-1;
    border-right: 2px solid @middle-grey-1;
    min-width: 84px;
  }

  .menu__link--search {
    width: 18px;
    height: 19px;
    background-image: url('../image/search-desktop.png');
    background-repeat: no-repeat;
    border: none;

  }

  .menu--cart {
    display: flex;
    background-image: none;
    align-items: center;
    min-width: 268px;
    
  }

  .menu__link--cart {
    // position: absolute;
    padding: 0;
    padding-left: 85px;
    text-decoration: none;
    background-image: url('../image/cart-mobile.png');
    background-repeat: no-repeat;
    background-position: center left 30px;
    position: relative;

  }



  .menu--tab4 {
    display: flex;
    align-items: center;


    &:nth-of-type(1) {
      width: 185px;
      padding-left: 0;
    }
    &:nth-of-type(2) {
      width: 193px;
      padding-left: 34px;
    }
    &:last-of-type {
      margin-left: 100px;
      margin-left: auto;
    }
  }

  .menu__link--tab4 {
    text-decoration: none;
  }

  

}