.secondary-menu {
  min-height: 206px;
}

.secondary-menu__item {
  // position: relative;
  display: block;
  box-sizing: border-box;
  // min-height: 103px;
  background-repeat: no-repeat;
  background-position: right 38px center;
  &:nth-of-type(n+1) {
    background-color: @light-green;
    background-image: url('../image/interior-mobile.png');
  }
  &:nth-of-type(2n) {
    background-color: @dark-green;
    background-image: url('../image/toy-mobile.png');
    background-position: right 30px center;
  }
}

.secondary-menu__link {
  display: block;
  width: inherit;
  min-height: inherit;
  text-decoration: none;
  width: inherit;
  padding-left: 30px;
  padding-right: 160px;
  padding-top: 25px;
  padding-bottom: 28px;

}