.section-table-1__tr {
  height: 40px;
}

.section-table-1__td {
  width: 96px;

  &:first-child {

  }
}





.section-table-2 {

}

.section-table-2__tr {
  height: 60px;
}

.section-table-2__td {
  vertical-align: top;
  
  &:first-child {
    width: 75px;
  }
}

