.week-commodity {
  position: relative;
  min-height: 700px;
  background-color: @white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 27px;
  padding-bottom: 40px;
  text-align: center;
  // @media (min-width: 400px) and (max-width: 767px) {
  //   display: flex;
  //   flex-wrap: nowrap;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   align-items: center;
  // }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6px;
    background-image: url('../image/zigzag-line-mobile.png');
    background-repeat: repeat;
    left: 50%;
    transform: translate(-50%);
  }
}

.week-commodity__header {
}

.week-commodity__wrapper {
}

.week-commodity__description {  
}

.week-commodity__b {
  display: block;
  margin-top: 3px;
  margin-bottom: 23px;
}

.week-commodity__table {
  width: 260px;
  padding-top: 15px;
  padding-bottom: 28px;  
}

.week-commodity__price {
  padding: 24px 0 28px 0;text-align: center;

}

@media (min-width: 400px) and (max-width: 768px) {
  .week-commodity__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }



  .week-commodity__description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}


@media (min-width: @tablet-width) {          /*media tablet*/
  .week-commodity {
    padding-right: 50px;
    padding-left: 50px;
    min-height: 400px;
    padding-bottom: 60px;
    padding-top: 40px;
    &::after {
      width: 100%;
      height: 17px;
      background-image: url('../image/zigzag-line-desktop.png');
      background-repeat: repeat;
      left: 50%;
      transform: translate(-50%);      
    }
  }


  .week-commodity__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .week-commodity__title {
    width: 490px;
  }

  .week-commodity__b {
    width: 110px;
    margin: 0;
    // margin-bottom: 30px;
  }

  .week-commodity__btn {
    position: absolute;
    bottom: 0;
    width: 290px;
  }
  
  .week-commodity__wrapper {
    display: flex;
    padding-top: 40px;
  }
  
  .week-commodity__description {
    position: relative;
  }

  .week-commodity__table {
    padding-top: 30px;
    padding-bottom: 15px;  
  }

  .week-commodity__price {
    width: 80%;
  }
}

@media (min-width: @tablet-width + 1px) and (max-width: @desktop-width) {
  .week-commodity {

  }
  
  .week-commodity__description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
  }

  .week-commodity__price {
    text-align: left;
  }
}

  

@media (min-width: @desktop-width) {             /*media desktop*/


  .week-commodity {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    &::after {
      content: '';
      position: absolute;
      width: 1050px;
      height: 23px;
      background-image: url('../image/zigzag-line-desktop.png');
      background-repeat: repeat-x;
      // background-color: red;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);      
    }
  }

  .week-commodity__header {
    position: absolute;
    display: flex;
    left: 100px;
    top: 140px;
    z-index: 10;
    justify-content: flex-start;
    align-items: center;
  }

  .week-commodity__b {
    order: -1;
    width: 170px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    text-align: center;
  }

  .week-commodity__title {
    width: 550px;

  }

  .week-commodity__wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
    
  }

  .week-commodity__description {
    width: 350px;
    padding-top: 170px;
    padding-left: 0;

    }

  .week-commodity__table {
    padding-top: 50px;
    padding-bottom: 0;
  }

  .week-commodity__price {
    margin-top: 65px;

  }

  .week-commodity__btn {
    font-size: 17px;
    line-height: 20px;
  }



}