* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  // box-sizing: border-box;
}

.cent {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

.multiple {
  /*для отлова события JS*/
}

.single {
  /*для отлова события JS*/
}

.hidden-tablet {
  display: none;
}



.hidden-mobile {
  display: block;
}

.hidden-desktop {
  display: none;
}


@media (min-width: @tablet-width) {
  body {
    width: 768px;
  }

  .multiple, .single {
    display: none;
  }  

  .hidden-tablet {
    display: block;
  }

  // .hidden-mobile {
  //   display: none;
  // }
}

@media (min-width: @desktop-width) {  
  body {
    width: @desktop-width;
  }

  .hidden-tablet {
    display: none;
  }

  .hidden-desktop {
    display: block;
  }
}
