/*Для бордера кнопок*/
/*Для фона футера*/
/*Для промежуточного бордера в футере*/
/*Для бордера и текста кнопок*/
/*а еще для текста*/
/*Для подчеркивания емэйла*/
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.OUTR {
  outline: 2px solid red;
  background-color: #f3b9ac;
}
.OUTB {
  outline: 2px solid #0d0de4;
  background-color: #aacfe5;
}
.OUTG {
  outline: 2px solid green;
  background-color: #c0f0b5;
}
.OUTY {
  outline: 2px solid #878c03;
  background-color: #f6f7d9;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.cent {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
}
.header__title {
  display: block;
  min-height: 285px;
  background-color: #fafafa;
}
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 79px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #ececec;
  background-color: #ffffff;
}
.main-menu__link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu__img-logo {
  width: 86px;
  height: 35px;
}
.main-menu__open {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url('../image/menu-mobile-open.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
  cursor: pointer;
}
.main-menu__close {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url('../image/menu-mobile-close.png');
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  cursor: pointer;
}
.font--h1 {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
}
.font--h2 {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.font--h3 {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.font--link-main {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.font--secondary-link {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}
.font--week-b {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}
.font--week-p,
.font--week-td {
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
.font--price {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.font--advantages {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.font--feedback-p {
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.font--feedback-b {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.font--section-td {
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.font--developers-b {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 19px;
  color: #000000;
}
.secondary-menu {
  min-height: 206px;
}
.secondary-menu__item {
  min-height: 103px;
}
.secondary-menu__item:nth-of-type(n+1) {
  background-color: #63d1bb;
}
.secondary-menu__item:nth-of-type(2n) {
  background-color: #56c3b2;
}
.secondary-menu__link {
  display: block;
  width: inherit;
  min-height: inherit;
}
.week-commodity {
  min-height: 820px;
}
.btn {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
}
.about-us {
  min-height: 837px;
}
.feedback {
  min-height: 650px;
}
.contacts {
  min-height: 765px;
}
.footer {
  min-height: 290px;
}
