/*Для бордера кнопок*/
/*Для фона футера*/
/*Для промежуточного бордера в футере*/
/*Для бордера и текста кнопок*/
/*а еще для текста*/
/*Для подчеркивания емэйла*/
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.OUTR {
  outline: 2px solid red;
  background-color: #f3b9ac;
}
.OUTB {
  outline: 2px solid #0d0de4;
  background-color: #aacfe5;
}
.OUTG {
  outline: 2px solid green;
  background-color: #c0f0b5;
}
.OUTY {
  outline: 2px solid #878c03;
  background-color: #f6f7d9;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.cent {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style-type: none;
}
.multiple {
  /*для отлова события JS*/
}
.single {
  /*для отлова события JS*/
}
.header__title {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 285px;
  background-color: #fafafa;
  background-image: url('../image/hero-mobile.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -10%;
  background-size: 115%;
}
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 79px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 2px solid #ececec;
  background-color: #ffffff;
}
.main-menu__link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 46px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.main-menu__img-logo {
  width: 86px;
  height: 35px;
}
.main-menu__open {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url('../image/menu-mobile-open.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
  cursor: pointer;
}
.main-menu__close {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-image: url('../image/menu-mobile-close.png');
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
  cursor: pointer;
}
.main-menu__link--search {
  background-image: url('../image/search-mobile.png');
  background-repeat: no-repeat;
  background-position: center left 0;
}
.main-menu__link--cart {
  background-image: url('../image/cart-mobile.png');
  background-repeat: no-repeat;
  background-position: center left 0;
}
.font--h1 {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  padding-top: 75px;
}
.font--h2 {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}
.font--h3 {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}
.font--link-main {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.font--secondary-link {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
}
.font--week-b {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}
.font--week-p,
.font--week-td {
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}
.font--price {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.font--advantages {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
}
.font--feedback-p {
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.font--feedback-b {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}
.font--section-td {
  font-family: 'Open Sans Regular', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.font--developers-b {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 19px;
  color: #000000;
}
.secondary-menu {
  min-height: 206px;
}
.secondary-menu__item {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: right 38px center;
}
.secondary-menu__item:nth-of-type(n+1) {
  background-color: #63d1bb;
  background-image: url('../image/interior-mobile.png');
}
.secondary-menu__item:nth-of-type(2n) {
  background-color: #56c3b2;
  background-image: url('../image/toy-mobile.png');
  background-position: right 30px center;
}
.secondary-menu__link {
  display: block;
  min-height: inherit;
  text-decoration: none;
  width: inherit;
  padding-left: 30px;
  padding-right: 160px;
  padding-top: 28px;
  padding-bottom: 28px;
}
.week-commodity {
  min-height: 800px;
  background-color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 33px;
  padding-bottom: 28px;
}
.week-commodity__b {
  display: block;
  margin-top: 9px;
  margin-bottom: 27px;
}
.week-commodity__character-table {
  width: 260px;
  padding-top: 30px;
  padding-bottom: 28px;
}
.section-table__tr {
  height: 40px;
}
.section-table__td {
  width: 100px;
}
.week-commodity__price {
  padding: 28px 0 28px 0;
  text-align: center;
}
.section-table-1__tr {
  height: 40px;
}
.section-table-1__td {
  width: 96px;
}
.section-table-2__tr {
  height: 60px;
}
.section-table-2__td {
  vertical-align: top;
}
.section-table-2__td:first-child {
  width: 75px;
}
.btn {
  font-family: 'Open Sans Bold', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  width: 100%;
  padding: 18px 0 18px 0;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
}
.about-us {
  min-height: 800px;
  padding: 28px 30px 64px 30px;
}
.about-us__title {
  margin-bottom: 35px;
}
.advantages__li {
  position: relative;
  min-height: 126px;
  padding-top: 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
}
.advantages__li:nth-of-type(1) {
  background-image: url('../image/icon-1-mobile.png');
  background-position: left 5px top 15px;
}
.advantages__li:nth-of-type(2) {
  background-image: url('../image/icon-3-mobile.png');
  background-position: left 5px top 15px;
}
.advantages__li:nth-of-type(3) {
  background-image: url('../image/icon-5-mobile.png');
  background-position: left 5px top 15px;
}
.advantages__li:nth-of-type(4) {
  background-image: url('../image/icon-2-mobile.png');
  background-position: left 5px top 15px;
}
.advantages__li:nth-of-type(5) {
  background-image: url('../image/icon-4-mobile.png');
  background-position: left -5px top 15px;
}
.advantages__li:nth-of-type(6) {
  background-image: url('../image/icon-6-mobile.png');
  background-position: left 5px top 15px;
}
.feedback {
  position: relative;
  min-height: 650px;
  padding: 0 30px 0 30px;
}
.feedback::after {
  content: '';
  position: absolute;
  background-image: url('../image/zigzag-line-mobile.png');
  background-repeat: no-repeat;
  width: 320px;
  height: 6px;
  left: 0;
  bottom: 0;
}
.feedback__title {
  margin-bottom: 40px;
}
.feedback__p:first-of-type {
  margin-bottom: 35px;
}
.feedback__p:last-of-type {
  margin-bottom: 120px;
}
.feedback__previous {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 2px solid #ececec;
  border-right: 1px solid #ececec;
  bottom: 140px;
  left: 0;
  background-color: #ffffff;
  background-image: url('../image/huge-arrow-left-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
}
.feedback__next {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  height: 52px;
  border: 2px solid #ececec;
  border-left: 1px solid #ececec;
  bottom: 140px;
  right: 0;
  background-color: #ffffff;
  background-image: url('../image/huge-arrow-right-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
}
.contacts {
  min-height: 765px;
  padding-right: 30px;
}
.contacts__table {
  padding-top: 10px;
  padding-left: 30px;
  margin-bottom: 35px;
  vertical-align: top;
}
.contacts__title {
  margin-bottom: 20px;
  padding-top: 35px;
  padding-left: 30px;
}
.contacts__map {
  display: block;
  width: 320px;
  min-height: 457px;
  background-image: url('../image/map-mobile@1x.png');
  background-repeat: no-repeat;
}
.footer {
  min-height: 250px;
  padding-top: 40px;
}
.footer__btn {
  margin-bottom: 40px;
}
.footer-social {
  position: relative;
  min-height: 80px;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-social::after {
  content: '';
  position: absolute;
  width: 260px;
  height: 1px;
  background-image: url('../image/divider-mobile.png');
  background-repeat: no-repeat;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.footer-developers {
  min-height: 80px;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-developers__logo {
  display: block;
  background-image: url('../image/htmlacademy-mobile.png');
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
}
.footer-developers__b {
  margin-right: 30px;
}
.social {
  margin-right: 40px;
}
.social:first-of-type {
  width: 22px;
  height: 21px;
  background-image: url('../image/insta-mobile.png');
  background-repeat: no-repeat;
}
.social:nth-of-type(2) {
  width: 15px;
  height: 28px;
  background-image: url('../image/fb-mobile.png');
  background-repeat: no-repeat;
}
.social:last-of-type {
  margin-right: 0;
  width: 23px;
  height: 20px;
  background-image: url('../image/twitter-mobile.png');
  background-repeat: no-repeat;
}
.visible {
  display: block;
}
.invisible {
  display: none;
}
